.grey-mode {
  --bg: #EAEAEA;
  --loading: #B7B7B7;
}

.green-mode {
  --bg: #E6EBE5;
  --main-color: #FFF7CD;
  --loading: #B3C1A8;
}

.yellow-mode {
  --bg: #FFFBEC;
  --main-color: #FFF7CD;
  --loading: #C1BCA8;
}

.blue-mode {
  --bg: #ECF0F1;
  --loading: #AFC2C6;
}

@font-face {
  font-family: 'Great Vibes';
  src: url('~assets/fonts/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'vivaldi';
  src: url('~assets/fonts/vivaldi2.TTF') format('truetype');
}

body {
  background-color: var(--bg);
  -webkit-transition: ease-out 1s;
  -moz-transition: ease-out 1s;
  transition: ease-out 1s;
}


.pink {
  color: #DB0D86;
}

.bg-pink {
  background-color: #DB0D86;
}

.lightblue {
  color: #ECF0F1;
}

.bg-lightblue {
  background-color: #ECF0F1;
}

.blue {
  color: #AFC2C6;
}

.bg-blue {
  background-color: #AFC2C6;
}

.darkblue {
  color: #153243 !important;
}

.bg-darkblue {
  background-color: #153243;
}

.lightgrey {
  color: #EAEAEA
}

.bg-lightgrey {
  background-color: #EAEAEA
}

.grey {
  color: #B7B7B7
}

.bg-grey {
  background-color: #B7B7B7
}

.lightgreen {
  color: #E6EBE5
}

.bg-lightgreen {
  background-color: #E6EBE5
}

.green {
  color: #B3C1A8
}

.bg-green {
  background-color: #B3C1A8
}

.lightyellow {
  color: #FFFBEC
}

.bg-lightyellow {
  background-color: #FFFBEC
}

.yellow {
  color: #FFF7CD
}

.bg-yellow{
  background-color: #FFF7CD!important;
}

.darkyellow {
  color: #C1BCA8
}

.bg-darkyellow {
  background-color: #C1BCA8
}

.btn {
  padding: 15px 30px 15px 30px;
  font-family: 'Raleway', sans-serif;
  color: white;
  border: none;
  border-radius: 0;
  font-size: 0.8rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  box-shadow: inset 0 0 0 0 #153243;
  background-color: #DB0D86;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.carousel-indicators li{
  border: 1px solid #153243;
  background-color: #FFF7CD;
}

.btn:after {
  margin-left: 10px;
  content:'🡒';
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.btn:hover {
  background-color: #153243;
  box-shadow: inset 400px 0 0 1px #153243;
  color: white!important;

}

.loadbtn:after {
  content: ''
}

.btn:hover:after {
  margin-left: 20px;
}

.loadbtn:hover {
  box-shadow: inset 0 0 0 0 #153243;
  background-color: #DB0D86;
  cursor: initial;
}

.loadbtn:hover:after {
  margin-left: 10px;
}

.btn-small{
  padding: 10px 20px 10px 20px;
  font-size: 0.8rem;
}

.text-underscore{
  text-decoration: underline;

}

.page-animation{
  -webkit-transition: ease-out 500ms;
  -moz-transition: ease-out 500ms;
  transition: ease-out 500ms;
}

#logo-rotation{
  transform-origin: 45% 23%;
}

#loading-logo-rotation{
  transform-origin: 45% 23%;

}

.two-column-content p{
  padding: 0 15px 0 15px;
}


.two-column-content h6{
  padding: 0 15px 0 15px;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}
